aside.app-sidebar {
	position: fixed;
	top: 0; bottom: 0; left: 0;

	padding: 32px 24px;
	z-index: 2;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
}

aside.app-sidebar img {
	width: 48px;
}

aside.app-sidebar footer a,
aside.app-sidebar footer button {
	border: 0;
	border-radius: 16px;

	width: 48px;
	height: 48px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	background-image: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
	transition: background-color 0.2s;
}

aside.app-sidebar footer a:hover,
aside.app-sidebar footer button:hover {
	background-color: #17D6EB;
}

@media (max-width: 1199.98px) {
	aside.app-sidebar {
		position: sticky;
		top: 0;

		padding: 18px 18px;

		flex-direction: row;
		justify-content: space-between;
	}

	aside.app-sidebar img {
		display: none;
	}
}
